#topheader {
  text-align: center
}

#footer {
  font-family: Arial
}

.expansion {
  height: 100%;
}

html body .mainbody{
  height: auto;
  background-color: #252525;
}

body .mainbody{
  color: #fff;
  text-align: center;
}
body{
  text-align: center;
}

body a{
  color: #2f0e91;
}
body a:hover{
  color: #755aee;
}

.contact-context{
  width: 100%;
  text-align: center;
  display: inline-block;
  padding: 15vh 25vh 5vh 25vh;
  font-size: 17px;
}

.people{
  list-style: none;
  padding: 0px
}
.picture{
  width: 80%;
}
.box{
  text-align:justify;
  margin: 20px 20px;
}
.box_address{
  text-align:center;
  margin: 20px 20px;
}

.btn-upload{
  background-color: #3c12b6;
  color: white;
}

.btn-upload:hover{
  background-color: #220b65;
  color: white;
  transition: background-color 0.5s;
}

.panel-annotation{
  text-align: center;
}

.panel-visual{
  text-align: center;
  background-color: #393a34;
  color: white;
  border-radius: 5px;
  border: 4px solid #3823c2;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  width:auto;
  height:auto;
}

ol, ul {
  padding-left: 30px;
}


.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

